@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* @apply bg-green-400/10  */
    @apply bg-gradient-to-b from-green-500/20 to-orange-500/20

}

/* ====== Fonts ====== */
@font-face {
    font-family: 'pokemon-solid';
    src: url('../public/fonts/Pokemon-Solid.ttf');
}

@font-face {
    font-family: 'pokemon-hollow';
    src: url('../public/fonts/Pokemon-Hollow.ttf');
}

@font-face {
    font-family: 'gameboy';
    src: url('../public/fonts/gameboy.ttf');
}

/* ====== Animations ====== */
@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.blink {
    animation: blink 0.2s infinite steps(1);
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: #6ee7b7d9;
    transform-origin: 0%;
    /* z-index: 20; */
}

.card {
    position: relative;
    perspective: 800px; /* Perspective for 3D effect */
    transform-style: preserve-3d;
    transition: transform 0.7s linear;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide the back face initially */
}

.front {
    /* background-color: blue; */
}

.back {
    /* background-color: red; */
    transform: rotateY(
        180deg
    ); /* Rotate the back face to be hidden initially */
}

.flip-move-down {
    transform: rotateY(
        180deg
    ) translateY(100%); /* Rotate the card on hover to reveal the back face */
}

.flip-move-up {
    transform: rotateY(
        180deg
    ) translateY(-100%); /* Rotate the card on hover to reveal the back face */
}
